
@media(max-width:991px){
    section{
        padding: 30px 0;
    }
    h2{
        font-size: 30px;
        line-height: 48px;
    }
    h3{
        font-size: 20px;
    
    }
    .header-scrolled{
        height:auto;
    
    }
    .header_wrapper .menu-navbar-nav{
        text-align: center;
        padding-bottom: 15px;
    }
    .header_wrapper .nav-item .nav-link{
        margin-top: 15px;
       
    }
    .banner-wrapper{
        padding:200px 0;
    }

    .about_wrapper ul.nav-pills{
        width: 55%;
        margin: auto;
    }
    .portfolio_wrapper .card{
        min-height: 400px;
    }

}
@media(max-width:767px){

    h1{
        font-size: 40px;
        line-height: 48px;

    }
    h2{
        font-size: 25px;

    }
    p{
        font-size: 13px;
        line-height: 24px;
    }
    .about_wrapper ul.nav-pills{
        width: 74%;
        margin: auto;
    }
    .about_wrapper ul li .nav-link{
        font-size: 13px;
        
    }
    .portfolio_wrapper .card{
        min-height: 500px;
    }
}

@media(max-width:540px){

    h1{
        font-size: 40px;
        line-height: 48px;

    }
    h2{
        font-size: 25px;

    }
    p{
        font-size: 13px;
        line-height: 24px;
    }
    .about_wrapper ul.nav-pills{
        width: 62%;
        margin: auto;
    }
    .about_wrapper ul li .nav-link{
        font-size: 10px;
        
    }
}
@media(max-width:414px){

    h1{
        font-size: 40px;
        line-height: 48px;

    }
    h2{
        font-size: 25px;

    }
    p{
        font-size: 13px;
        line-height: 24px;
    }
    .about_wrapper ul.nav-pills{
        width: 80%;
        margin: auto;
    }
    .about_wrapper ul li .nav-link{
        font-size: 10px;
        
    }
}


